h4{
  text-align: right;
  text-decoration-color: black;
}
body{

  background-image: url("images/hero.jpg");
  background-size: cover;

  display:inline-table;
  height: 100%;
  padding-top: 86px;
  position: relative;
  width: 100%;
}
nav{
  float: right;
}


a{
  display: inline-block;
}
h2{
  margin-top: 50px;
  margin-left: 50px;
}
p{
  margin-left: 50px;
}
button{
 height: 50px;
 width: 200px;
 background-color: slateblue;
 text-emphasis-color: red;
 margin-left: 70px;
 margin-top: 40px;
}
div{
  background-image: url("cta-sunglasses.jpg");
  background-size: cover;
}
