html,
body{
  height: 100%;
}


.small-logo{
text-align: right;
}
.background-image{

  background-image: url("images/hero.jpg");
  background-size: cover;
  height: 100%;
  /* padding-top: 86px; */
  width: 100%;
}
.header nav{
margin-left: 1000px;
}

.navbar-brand{
  color: black;
}

.nav-link{
  display: inline-block;
  color: black;
  margin-bottom: 30px;
}
.container button {
  background-color: red;
  border-color: red;
  height: 50px;
  width: 200px;
  margin-left: 0px;
}
/* .container h2{
  font-size: 50px;
  color: white;
  margin-top: 180px
}
.container p{
  font-style: oblique;
  font-size: 20px;
  color: white;
}

.col-6 button{
 height: 60px;
 width: 200px;
 background-color: red;
 text-emphasis-color: white;
 margin-left: 200px;
 margin-top: 40px;
}
.col-6 h2{
  font-size: 50px;
  margin-top: 130px;
  margin-left: 200px;
}
.col-6 p{
  font-size: 25px;
  margin-left: 200px;
  margin-top: 40px;
}
.col-6- h1{
 margin-left: 250px;
 margin-top: 60px;
}
.col-6- p{
  font-size: 20px;
  margin-left: 250px;
}
.col-6- ins{
  font-size: 20px;
  margin-left: 250px;
  color: red;
}
 .col-3-{
  margin-left: 60px;
  margin-top: 20px;
}
.col-lg-12 span{
  font-size: 30px;
  top: 50px;
}
.container-fluid bg-light button {
  background-color: red;
  height: 40px;
  color: white;
  margin-left: 70px;
} */

/* .col-lg-3 span{
  margin-left: 99px;
}
.col-lg-3 h3{
  margin-left: 99px;
}
.col-lg-3 h5{
  margin-left: 105px;
  margin-top: 30px;
}
.col-lg-12 h3{
  margin-left: 60px;
} */

/* FOOTER */
/* .footer{
  background: black;
}
.footer a {
  display: block;
  margin-left: 270px;
  color: white;
  margin-top: 30px;
} */

/* .col-sm-3 img{
  margin-right: 100px;
  margin-top: 140px;
}

.small-logo-2 img{
  margin-left: 900px;
}
.col-xl-12- img{
  margin-left: 600px;

}
.col-xl-12- a{
  display: inline-block;
  margin-left: 60px;

}
.col-sm-3{
  margin-top: 10px;
}
.col-6 img{
  padding-left: 0px;
  padding-right: 0px;
}
.col-sm--12 a{
display: inline-block;
}
.col-sm-3 div{
  margin-right: 40px;
}
.col-md-3 nav{
  margin-top: 70px
} */
.glasses-bkg {
background-image: url("images/features-background.jpg");
background-size: contain;
background-position: center bottom;
background-repeat: no-repeat;
min-height: 840px;
}


#mobile-products{
  display: block;
}
#style-products{
  display: none;
}

/* responsive */

@media (min-width: 768px) {

  #mobile-products{
    display: none;
  }
  #style-products{
    display: block;
    }
  }
