html,
body{
  height: 100%;
}


.small-logo{
text-align: right;
}
.background-image{

  background-image: url("images/hero.jpg");
  background-size: cover;
  height: 100%;
  /* padding-top: 86px; */
  width: 100%;
}
nav{
  float: right;
}
.navbar-brand{
  color: black;
}

.nav-link{
  display: inline-block;
  color: black;
}
h2{
  margin-top: 50px;
  margin-left: 50px;
}
p{
  margin-left: 50px;
}
button{
 height: 50px;
 width: 200px;
 background-color: red;
 text-emphasis-color: white;
 margin-left: 70px;
 margin-top: 40px;
}
.col-md-2{
  background-image: url("cta-sunglasses.jpg");
}
.col-sm-3{
  background-image: url("instagram-1.jpg");
}
.col-sm-4{
  background-image: url("instagram-2.jpg");
}
